.block {
  display: block;
}
.flex {
  display: flex;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify	{
  text-align: justify;
}
.break-words {
  overflow-wrap: break-word;
}
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}
.break-all {
  word-break: break-all;
}
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}

